/*
* @package      Shortcodes
* @description  This package holds style declarations for
*               shortcodes page
*/
/*
 * @subsection   Icon Box
 */
.icon-box {
  position: relative;
  padding: 10px 20px 10px 55px;
  transition: .3s all ease;
  border-radius: 5px;
}

.icon-box:hover {
  color: #fff;
  background: #fe4742;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.11);
}

.icon-box:before {
  position: absolute;
  left: 20px;
  font-size: 17px;
}
@media (min-width: 768px) {
  .icon-box:before {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .icon-box:before {
    font-size: 23px;
  }
}

* + h4 {
  margin-top: 30px;
}

* + .container {
  margin-top: 40px;
}

.container + .container {
  margin-top: 70px;
}

* + .row {
  margin-top: 25px;
}

* + .inline-list {
  margin-top: 20px;
}

* + .responsive-tabs {
  margin-top: 30px;
}

.responsive-tabs * + [class*="col-"] {
  margin-top: 2px;
}
