main.page-content{
    padding-top: 1.11rem;
    padding-bottom: 1.13rem;
}
label.control-label {
    /* min-width: 200px !important; */
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-control {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px 12px;
    
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
div.form-group{
	text-align:left;
}
#map,#mapto{
	width:100%;
	height: 400px;
	position:relative;
}
.col-md-12 button{
	margin-top:0px;
}
.add-my-place-block{
	padding-left:0px;
}
.button-location-order{
	margin:0;
}
.orders-form button.btn{
	height:45px;
	border-radius:20px;
}
.partner-info{
	display:none;
}

.col-md-6 > .col-md-12{
	padding: 0;
}
.col-md-6 > .col-md-12 .col-md-4, .col-md-6 > .col-md-12 .col-md-6, .col-md-6 > .col-md-12 .col-md-7,.col-md-6 .col-md-6{
	padding: 0;
}
.col-md-6 > .col-md-12 .col-md-5{
	padding-right:0px;
}
.col-md-6 > .col-md-12 .col-md-5.find-btn-div{
	padding-left:25px;
}
.col-md-6 > .col-md-12 .last-name-filed,.col-md-6 > .col-md-12 .field-orders-date{
	padding-left: 10px;
}

#orders-index-section .col-md-12{
	border: 1px solid black;
}
.orders-view .col-md-12,.orders-view .col-md-6{
	padding:0;
}
.orders-view .col-md-5,.orders-view .col-md-7{
	border:1px solid #333;
}
.orders-view a.btn{
	margin-top:0;
}
.col-md-12{
	padding:0;
}
.field-orders-comment{
	padding-left:15px;
}
.help-block{
	display:none;
}
.help-block.checkPhone{
	display:none;
	position: absolute;
    background: #FFF;
    border: 1px solid #999;
    top: 65px;
    border-radius: 0px 0px 3px 3px;
    padding: 3px 5px;
    z-index:999;
}
.field-orders-address_from .inform-block{
	position: absolute;
    z-index: 999;
    background: #FFF;
    width: 100%;
}
.field-orders-address_to .inform-block{
	position: absolute;
    z-index: 999;
    background: #FFF;
    width: 100%;
}

.orders-index .table td, .orders-index .table th{
	padding:15px;
}
.order_type-button{
	margin:0px;
	border-radius:20px;
}
.orders-index .table td .view-button i{
	padding:5px 10px 0 0;
}
.orders-index .table th{
	background:#e0f0f8;
	font-weight:500;
	font-size:20px;
	text-align:center;
}
.order-inder-data{
	width:150px;
}
.btn-info{
	background:#8ed5f6;
    border-color: #89d0f0;
}
.btn-success{
	background:#86dc86;
    border-color: #80d780;
}
.user-profile input,.user-profile select,.partner-profile input,.partner-profile select,.orders-form input,.orders-form select{
	font-size:16px;	
    border-radius: 20px;
    height: 45px;
}
.navigate-btn button{
	border-radius:20px;
	font-size:20px;
	font-weight:500;
	margin-top:0px;
	width:200px;
	margin-bottom:25px;
	background:#8ed5f6;
    border-color: #89d0f0;
    color:#fff;
}
.navigate-btn button.active{
	background:#86dc86;
    border-color: #80d780;
}
.navigate-btn button:focus,.fast-route button:focus{
	outline:0px;
    outline-offset: 0px;
}
.user-profile > .row{
	margin-top:25px;
}
.user-profile .col-md-1{
	padding:0;
}
.fast-route button,.user-profile button.btn{
	border-radius:20px;
	margin:0;
	width:150px;
	font-size:16px;
	border:1px solid #dddbdc;
	margin:15px 0 25px 0;
	height:45px;
	font-weight:500;
}
.orders-form .input-group-addon{
	background:#fff;
	width:50px;
	padding: 0 0 0 10px;
	border-radius: 25px 0 0 25px;
}
.orders-index .input-group-addon{
	background:#fff;
	width:40px;
	padding: 0 0 0 5px;
	border-radius: 20px 0 0 20px;
}
.orders-index input{
	font-size:14px;	
    border-radius: 20px;
    height: 35px;
}
.orders-form .input-group{
	width:100%;
}
.orders-form .name-inform .col-md-6{
	padding-right:15px;
}
.orders-form .name-inform .with-left-padding{
	padding-right:0px;
	padding-left:15px;
}
.orders-form .col-md-6 > .col-md-12 .col-md-5{
	padding-left:0px;
}
.orders-form hr{
    height: 1px;
    width: 100%;
    border-top: 2px solid #eee;
}
.submit-delivery button{
	width:150px;
}
.col-md-6.col-md-offset-3 .pull-right{
	width: calc( 100% - 70px );
	padding-top: 5px;
}